*, html {padding: 0; margin: 0;}
html{
   background-color: black;
}
body{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.btnpure {
  height: 20px;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #ffa600;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btnpure:hover {
  background: #ffd119;
  text-decoration: none;
}
    /* The animation code */
@keyframes orange_flash {
    0%   {border-bottom: 50px solid orange;}
    50%  {border-bottom: 50px solid rgba(255, 165, 0, 0.5);}
    100% {border-bottom: 50px solid orange;}
}

@keyframes orange_flash_after {
    0%   {border-top: 50px solid orange;}
    50%  {border-top: 50px solid rgba(255, 165, 0, 0.5);}
    100% {border-top: 50px solid orange;}
}
.diamond-narrow-a {
  width: 0;
  height: 0;
  border: 30px solid transparent;
  position: relative;
  animation-name: orange_flash;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: -1s;
}

.diamond-narrow-a-after {
  position: relative;
  width: 0;
  height: 0;
  border: 30px solid transparent;
  animation-name: orange_flash_after;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.diamond-narrow-b {
  width: 0;
  height: 0;
  border: 30px solid transparent;
  position: relative;
  animation-name: orange_flash;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.diamond-narrow-b-after {
  position: relative;
  width: 0;
  height: 0;
  border: 30px solid transparent;
  animation-name: orange_flash_after;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: -1s;
}

.diamond-narrow-c {
  width: 0;
  height: 0;
  border: 30px solid transparent;
  position: relative;
  animation-name: orange_flash;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: -2s;
}

.diamond-narrow-c-after {
  position: relative;
  width: 0;
  height: 0;
  border: 30px solid transparent;
  animation-name: orange_flash_after;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.diamond-narrow-d {
  width: 0;
  height: 0;
  border: 30px solid transparent;
  position: relative;
  animation-name: orange_flash;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: -3s;
}

.diamond-narrow-d-after {
  position: relative;
  width: 0;
  height: 0;
  border: 30px solid transparent;
  animation-name: orange_flash_after;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}